.name1 {
    font-family: 'Franklin Gothic Medium';
    color: black;
    margin-bottom: 40px;
}

.img1 {
    margin-right: 60px;
    float: left;
}

.stats1 {
    font-family: 'Franklin Gothic Medium';
    color:rgb(97, 97, 97);
    max-width: 40%;
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.buy1 {
    font-family: 'Franklin Gothic Medium';
    color:coral;
    font-size: 25px;

}

.name2 {
    font-family: 'Franklin Gothic Medium';
    color: black;
    margin-bottom: 40px;
}

.img2 {
    margin-right: 60px;
    float: left;
}

.stats2 {
    font-family: 'Franklin Gothic Medium';
    color:rgb(97, 97, 97);
    max-width: 40%;
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.buy2 {
    font-family: 'Franklin Gothic Medium';
    color:coral;
    font-size: 25px;

}
.name3 {
    font-family: 'Franklin Gothic Medium';
    color: black;
    margin-bottom: 40px;
}

.img3 {
    margin-right: 60px;
    float: left;
}

.stats3 {
    font-family: 'Franklin Gothic Medium';
    color:rgb(97, 97, 97);
    max-width: 40%;
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.imgdop3 {
    margin-right: 60px;
    float: left;
}

.buy3 {
    font-family: 'Franklin Gothic Medium';
    color:coral;
    font-size: 25px;

}